"*":
  "atom-beautify":
    css:
      align_assignments: true
    general:
      _analyticsUserId: "f2c4138f-143c-4ab1-8d53-c8c5799cc3dc"
  "atom-package-deps":
    ignored: []
  "autoclose-html": {}
  "city-lights-ui": {}
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter-haml"
      "language-gfm"
      "linter-csslint"
      "linter-scss-lint"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/adexter/Documents/Development/repos"
    telemetryConsent: "no"
    themes: [
      "genesis-syntax"
    ]
  "css-comb": {}
  editor:
    backUpBeforeSaving: true
    fontSize: 9
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "8dfa7712-3ccb-c1fc-5301-25cc1c7ebc8a"
  linter: {}
  "linter-ansible-linting": {}
  "linter-php": {}
  "linter-ui-default":
    panelHeight: 302
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  "save-session":
    dataSaveFolder: "/Users/adexter/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
".haml.text":
  editor:
    autoIndentOnPaste: true
